body {
  background-color: #646464;
  color: #fa8270;
}
#avatar {
  width: 250px;
  border-radius: 20%;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color:  #A9A9A9;
}
h1 {
  font-family: 'New Tegomin', serif;
}
h3,
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color:  #A9A9A9;
}

#landing {
  height:87vh;
  margin-top: 75px;
/*center the content vertically using flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#gallery {
  height: 87vh;
/*center the content vertically using flexbox*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

html{
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  border-radius: 15px;
}

/* Bootstrap Overrides*/
.jumbotron {
  background-color: lightgrey;
  border-radius: 20px;
}